MONGO_URI=mongodb://localhost:27017/documentation-service
NATS_URL=nats://localhost:4222
LLM_SERVICE_URL=http://localhost:9004
GRAPH_SERVICE_URL=http://localhost:9002
PORT=9005
LOG_LEVEL=info
NODE_ENV=development