# GitHub
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=axiom_ingestion

# NATS
NATS_URL=nats://localhost:4222

# Service
PORT=9001
NODE_ENV=development